<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.1.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Notes suggerides</string>
			<key>Description</key>
			<string>En editar les notes d’una transacció, ara rebràs automàticament una suggerència basada en les teves entrades anteriors, que pots aplicar directament tocant-la.</string>
			<key>IconName</key>
			<string>character.cursor.ibeam</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Conversió de divises simplificada</string>
			<key>Description</key>
			<string>Ara pots intercanviar la divisa d’origen i la de destinació, així com el tipus de canvi corresponent, per calcular més fàcilment els valors correctes.</string>
			<key>IconName</key>
			<string>arrow.up.arrow.down</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Anàlisi de rebuts existents</string>
			<key>Description</key>
			<string>Amb l’escàner de rebuts integrat, ara també pots analitzar els rebuts ja desats des de les aplicacions Fotos o Fitxers i utilitzar-los per crear transaccions.</string>
			<key>IconName</key>
			<string>custom.receipt.badge.arrow.up</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
