<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>전면적인 디자인 업데이트</string>
			<key>Description</key>
			<string>iOS, iPadOS 및 macOS 26에서 앱은 새로운 Liquid-Glass 효과와 앱 내 아이콘에 대한 다크 모드 지원을 포함한 새롭고 개선된 디자인으로 빛납니다.</string>
			<key>IconName</key>
			<string>sparkles</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>일괄 거래 편집</string>
			<key>Description</key>
			<string>이제 여러 거래를 동시에 선택하고 편집할 수 있습니다. 예를 들어, 모든 거래에 동일한 카테고리 또는 특정 태그를 지정할 수 있습니다.</string>
			<key>IconName</key>
			<string>square.and.pencil</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>개선된 영수증 스캐너</string>
			<key>Description</key>
			<string>통합된 영수증 스캐너가 이제 자동으로 날짜를 감지하고, 거래를 분류하며, iOS / iPadOS 26에서 Apple Intelligence를 사용하여 구매한 항목을 나열합니다.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>