<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<dict>
		<key>Summary</key>
		<string>Deze release verbetert het scannen van bonnetjes, voegt meer symbolen toe en optimaliseert de Noorse vertaling.</string>
		<key>Items</key>
		<array>
		<dict>
			<key>Title</key>
			<string>Verbeterde bonnenscanner</string>
			<key>Description</key>
			<string>De ingebouwde bonnenscanner herkent nu ook de begunstigde op basis van je eerdere invoer.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Extra symbolen</string>
			<key>Description</key>
			<string>Er zijn meer symbolen toegevoegd waarmee je de app helemaal naar wens kunt personaliseren.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Verbeterde vertaling</string>
			<key>Description</key>
			<string>De Noorse vertaling van de app is geoptimaliseerd, zodat deze nu nog beter te begrijpen is.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
		</array>
	</dict>
</dict>
</plist>
