<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<dict>
		<key>Summary</key>
		<string>此版本改進了收據掃描功能，新增更多圖示，並最佳化了挪威文翻譯。</string>
		<key>Items</key>
		<array>
		<dict>
			<key>Title</key>
			<string>強化收據掃描器</string>
			<key>Description</key>
			<string>內建收據掃描器現在也會根據你先前的輸入辨識收款人。</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>更多圖示</string>
			<key>Description</key>
			<string>新增了更多圖示，讓你可以依照自己的喜好個人化 App。</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>改進翻譯</string>
			<key>Description</key>
			<string>App 的挪威文翻譯已最佳化，現在更容易理解。</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
		</array>
	</dict>
</dict>
</plist>
