<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.1.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Notas sugeridas</string>
			<key>Description</key>
			<string>Ao editar as notas de uma transação, passas agora a receber automaticamente uma sugestão baseada nas tuas entradas anteriores, que podes aplicar diretamente ao tocar nela.</string>
			<key>IconName</key>
			<string>character.cursor.ibeam</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Conversão de moedas simplificada</string>
			<key>Description</key>
			<string>Agora podes trocar a moeda de origem e a de destino, bem como a taxa de câmbio correspondente, para calcular mais facilmente os valores corretos.</string>
			<key>IconName</key>
			<string>arrow.up.arrow.down</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Análise de recibos existentes</string>
			<key>Description</key>
			<string>Com o scanner de recibos integrado, podes agora também analisar recibos já guardados a partir das apps Fotografias ou Ficheiros e utilizá-los para criar transações.</string>
			<key>IconName</key>
			<string>custom.receipt.badge.arrow.up</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
