<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Pembaruan Desain Komprehensif</string>
			<key>Description</key>
			<string>Pada iOS, iPadOS, dan macOS 26, aplikasi hadir dengan desain baru yang diperbarui – termasuk efek Liquid-Glass dan dukungan Mode Gelap untuk ikon dalam aplikasi.</string>
			<key>IconName</key>
			<string>sparkles</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Edit Transaksi Massal</string>
			<key>Description</key>
			<string>Sekarang Anda dapat memilih dan mengedit beberapa transaksi sekaligus. Misalnya, menetapkan kategori yang sama atau tag tertentu untuk semua transaksi.</string>
			<key>IconName</key>
			<string>square.and.pencil</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Pemindai Struk yang Lebih Baik</string>
			<key>Description</key>
			<string>Pemindai struk terintegrasi kini secara otomatis mendeteksi tanggal, mengkategorikan transaksi, dan mencantumkan barang yang dibeli menggunakan Apple Intelligence di iOS / iPadOS 26.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
