<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.1.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Предлагаемые заметки</string>
			<key>Description</key>
			<string>При редактировании заметок к транзакции теперь автоматически появляется предложение на основе ваших предыдущих записей, которое можно применить одним касанием.</string>
			<key>IconName</key>
			<string>character.cursor.ibeam</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Упрощённая конвертация валют</string>
			<key>Description</key>
			<string>Теперь вы можете менять местами исходную и целевую валюту, а также соответствующий обменный курс, чтобы проще рассчитывать правильные значения.</string>
			<key>IconName</key>
			<string>arrow.up.arrow.down</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Анализ существующих чеков</string>
			<key>Description</key>
			<string>С помощью встроенного сканера чеков теперь можно анализировать уже сохранённые чеки из приложений Фото или Файлы и использовать их для создания транзакций.</string>
			<key>IconName</key>
			<string>custom.receipt.badge.arrow.up</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
