<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Повне оновлення дизайну</string>
			<key>Description</key>
			<string>На iOS, iPadOS та macOS 26 додаток має оновлений дизайн, що включає ефекти Liquid-Glass та підтримку темного режиму для іконок у додатку.</string>
			<key>IconName</key>
			<string>sparkles</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Масове редагування транзакцій</string>
			<key>Description</key>
			<string>Тепер ви можете вибирати та редагувати кілька транзакцій одночасно. Це дозволяє, наприклад, призначити однакову категорію або спеціальні теги для всіх них.</string>
			<key>IconName</key>
			<string>square.and.pencil</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Покращений сканер чеків</string>
			<key>Description</key>
			<string>Вбудований сканер чеків тепер автоматично виявляє дати, класифікує транзакції та перелічує придбані товари за допомогою Apple Intelligence на iOS / iPadOS 26.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
