<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2.2.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Покращене коригування балансу</string>
			<key>Description</key>
			<string>Якщо ти вручну змінюєш баланс свого рахунку, тепер автоматично створюється транзакція, щоб твоя історія залишалася точною і незмінною.</string>
			<key>IconName</key>
			<string>building.columns</string>
			<key>IconColor</key>
			<string>#00a38b</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Підтримка кастомізації іконок</string>
			<key>Description</key>
			<string>Тепер ти можеш використовувати власні зображення як іконки – це може бути логотип твого банку для рахунків або особисті фото для категорій.</string>
			<key>IconName</key>
			<string>photo.on.rectangle.angled</string>
			<key>IconColor</key>
			<string>#007aff</string>
		</dict>
	</array>
</dict>
</plist>
