<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<dict>
		<key>Summary</key>
		<string>Bản phát hành này cải thiện tính năng quét biên lai, thêm nhiều biểu tượng hơn và tối ưu hóa bản dịch tiếng Na Uy.</string>
		<key>Items</key>
		<array>
		<dict>
			<key>Title</key>
			<string>Trình quét biên lai nâng cao</string>
			<key>Description</key>
			<string>Trình quét biên lai tích hợp giờ đây cũng nhận diện người nhận thanh toán dựa trên các mục nhập trước đây của bạn.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Biểu tượng bổ sung</string>
			<key>Description</key>
			<string>Đã thêm nhiều biểu tượng hơn để bạn có thể cá nhân hóa ứng dụng đúng theo ý mình.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Bản dịch được cải thiện</string>
			<key>Description</key>
			<string>Bản dịch tiếng Na Uy của ứng dụng đã được tối ưu hóa, nên giờ đây dễ hiểu hơn nữa.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
		</array>
	</dict>
</dict>
</plist>
