<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.3.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Comandi rapidi migliorati</string>
			<key>Description</key>
			<string>I comandi rapidi nuovi e migliorati rendono più semplice che mai automatizzare Budget Flow, inclusa l’aggiunta automatica di transazioni dalle notifiche delle app bancarie su iOS e iPadOS 27.</string>
			<key>IconName</key>
			<string>app.badge</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Categorizzazione automatica</string>
			<key>Description</key>
			<string>Sui dispositivi supportati, Budget Flow può ora usare i Apple Intelligence per determinare categoria e beneficiario quando crea automaticamente transazioni tramite comandi rapidi.</string>
			<key>IconName</key>
			<string>square.2.layers.3d.top.filled</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Supporto per iOS, iPadOS e macOS 27</string>
			<key>Description</key>
			<string>Ritocchi al design e aggiornamenti di compatibilità mantengono Budget Flow fluido sui più recenti sistemi operativi Apple.</string>
			<key>IconName</key>
			<string>macbook.and.iphone</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
