<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<dict>
		<key>Summary</key>
		<string>Esta versão melhora a digitalização de recibos, adiciona mais ícones e otimiza a tradução norueguesa.</string>
		<key>Items</key>
		<array>
		<dict>
			<key>Title</key>
			<string>Digitalizador de recibos melhorado</string>
			<key>Description</key>
			<string>O digitalizador de recibos integrado agora também reconhece o beneficiário com base nas tuas entradas anteriores.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Ícones adicionais</string>
			<key>Description</key>
			<string>Foram adicionados mais ícones para poderes personalizar a app exatamente como quiseres.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Tradução melhorada</string>
			<key>Description</key>
			<string>A tradução norueguesa da app foi otimizada, tornando-a agora ainda mais fácil de compreender.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
		</array>
	</dict>
</dict>
</plist>
