<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2.2.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>改进的余额调整</string>
			<key>Description</key>
			<string>当你手动更改账户余额时，现在会自动创建一笔交易，以确保你的历史记录准确无误。</string>
			<key>IconName</key>
			<string>building.columns</string>
			<key>IconColor</key>
			<string>#00a38b</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>圖示的客製化支援</string>
			<key>Description</key>
			<string>现在，你可以使用自己的图片作为图标——无论是银行的标志用于账户，还是个人照片用于分类。</string>
			<key>IconName</key>
			<string>photo.on.rectangle.angled</string>
			<key>IconColor</key>
			<string>#007aff</string>
		</dict>
	</array>
</dict>
</plist>
