<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>全面设计更新</string>
			<key>Description</key>
			<string>在 iOS、iPadOS 和 macOS 26 上，应用程序以全新的、改进的设计焕发光彩——包括 Liquid-Glass 效果和对应用内图标的暗黑模式支持。</string>
			<key>IconName</key>
			<string>sparkles</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>批量编辑交易</string>
			<key>Description</key>
			<string>现在您可以同时选择和编辑多个交易。例如，这允许您为所有交易分配相同的类别或特定标签。</string>
			<key>IconName</key>
			<string>square.and.pencil</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>改进的收据扫描仪</string>
			<key>Description</key>
			<string>集成的收据扫描仪现在可以自动识别日期、分类交易，并使用 Apple Intelligence 在 iOS / iPadOS 26 上列出购买的商品。</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
