<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.1.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>推荐备注</string>
			<key>Description</key>
			<string>在编辑交易备注时，系统现在会根据你之前的输入自动提供推荐内容，你可以直接点击推荐来应用。</string>
			<key>IconName</key>
			<string>character.cursor.ibeam</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>更简单的汇率换算</string>
			<key>Description</key>
			<string>现在你可以互换原始货币和目标货币以及相应的汇率，从而更轻松地计算正确金额。</string>
			<key>IconName</key>
			<string>arrow.up.arrow.down</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>分析已有收据</string>
			<key>Description</key>
			<string>通过内置的收据扫描器，现在你也可以分析保存在“照片”或“文件”应用中的收据，并将其用于创建交易。</string>
			<key>IconName</key>
			<string>custom.receipt.badge.arrow.up</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
