<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Cập nhật thiết kế toàn diện</string>
			<key>Description</key>
			<string>Trên iOS, iPadOS và macOS 26, ứng dụng tỏa sáng với thiết kế mới mẻ, được cải tiến – bao gồm hiệu ứng Liquid-Glass và hỗ trợ chế độ tối cho các biểu tượng trong ứng dụng.</string>
			<key>IconName</key>
			<string>sparkles</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Chỉnh sửa hàng loạt giao dịch</string>
			<key>Description</key>
			<string>Bây giờ bạn có thể chọn và chỉnh sửa nhiều giao dịch cùng lúc. Điều này cho phép bạn, ví dụ, gán cùng một danh mục hoặc các thẻ cụ thể cho tất cả chúng.</string>
			<key>IconName</key>
			<string>square.and.pencil</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Hỗ trợ múi giờ cố định</string>
			<key>Description</key>
			<string>Trong cài đặt nâng cao, bạn có thể thiết lập một múi giờ cố định. Điều này đảm bảo dữ liệu của bạn được hiển thị nhất quán ở mọi nơi, bất kể bạn đang ở đâu.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>