<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Obsežna posodobitev dizajna</string>
			<key>Description</key>
			<string>Na iOS, iPadOS in macOS 26 aplikacija zasije z novim, prenovljenim dizajnom – vključno z učinki Liquid-Glass in podporo za temni način za ikone znotraj aplikacije.</string>
			<key>IconName</key>
			<string>sparkles</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Masovno urejanje transakcij</string>
			<key>Description</key>
			<string>Zdaj lahko hkrati izberete in urejate več transakcij. To vam omogoča, na primer, da vsem dodelite isto kategorijo ali specifične oznake.</string>
			<key>IconName</key>
			<string>square.and.pencil</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Izboljšan optični bralnik računov</string>
			<key>Description</key>
			<string>Integrirani optični bralnik računov zdaj samodejno zazna datume, razvrsti transakcije in navede kupljene izdelke z uporabo Apple Intelligence na iOS / iPadOS 26.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>