<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Покращений сканер чеків</string>
			<key>Description</key>
			<string>Вбудований сканер чеків тепер також розпізнає отримувача платежу на основі ваших попередніх записів.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Додаткові іконки</string>
			<key>Description</key>
			<string>Додано більше іконок, щоб ви могли персоналізувати застосунок саме так, як вам подобається.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Покращений переклад</string>
			<key>Description</key>
			<string>Норвезький переклад застосунку було оптимізовано, тож тепер його ще легше зрозуміти.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
