<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Aggiornamento completo del design</string>
			<key>Description</key>
			<string>Su iOS, iPadOS e macOS 26, l&apos;app presenta un design rinnovato e rivisitato, che include effetti Liquid-Glass e il supporto della modalità scura per le icone all&apos;interno dell&apos;app.</string>
			<key>IconName</key>
			<string>sparkles</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Modifica in blocco delle transazioni</string>
			<key>Description</key>
			<string>Ora puoi selezionare e modificare più transazioni contemporaneamente. Questo ti consente, ad esempio, di assegnare la stessa categoria o tag specifici a tutte.</string>
			<key>IconName</key>
			<string>square.and.pencil</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Scanner scontrini migliorato</string>
			<key>Description</key>
			<string>Lo scanner di scontrini integrato ora rileva automaticamente le date, classifica le transazioni ed elenca gli articoli acquistati grazie a Apple Intelligence su iOS / iPadOS 26.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
