<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.1.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Note suggerite</string>
			<key>Description</key>
			<string>Durante la modifica delle note di una transazione, ora ricevi automaticamente un suggerimento basato sui tuoi inserimenti precedenti, che puoi applicare direttamente toccandolo.</string>
			<key>IconName</key>
			<string>character.cursor.ibeam</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Conversione valuta semplificata</string>
			<key>Description</key>
			<string>Ora puoi scambiare la valuta di origine e quella di destinazione, insieme al tasso di cambio corrispondente, per calcolare più facilmente i valori corretti.</string>
			<key>IconName</key>
			<string>arrow.up.arrow.down</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Analisi delle ricevute esistenti</string>
			<key>Description</key>
			<string>Con lo scanner di ricevute integrato puoi ora analizzare anche le ricevute già salvate dall’app Foto o File e utilizzarle per creare transazioni.</string>
			<key>IconName</key>
			<string>custom.receipt.badge.arrow.up</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
