<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Полное обновление дизайна</string>
			<key>Description</key>
			<string>Ha iOS, iPadOS и macOS 26 приложение имеет обновленный дизайн, включая эффекты Liquid-Glass и поддержку темного режима для значков в приложении.</string>
			<key>IconName</key>
			<string>sparkles</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Массовая обработка транзакций</string>
			<key>Description</key>
			<string>Теперь вы можете выбирать и редактировать несколько транзакций одновременно. Это позволяет, например, назначить одну и ту же категорию или определённые теги для всех транзакций.</string>
			<key>IconName</key>
			<string>square.and.pencil</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Улучшенный сканер чеков</string>
			<key>Description</key>
			<string>Интегрированный сканер чеков теперь автоматически определяет даты, классифицирует транзакции и перечисляет купленные товары с помощью Apple Intelligence на iOS / iPadOS 26.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
