<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.3.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Verbesserte Kurzbefehle</string>
			<key>Description</key>
			<string>Neue und verbesserte Kurzbefehle machen es einfacher denn je, Budget Flow zu automatisieren, einschließlich des automatischen Hinzufügens von Transaktionen aus Mitteilungen von Banking-Apps unter iOS und iPadOS 27.</string>
			<key>IconName</key>
			<string>app.badge</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Automatische Kategorisierung</string>
			<key>Description</key>
			<string>Auf unterstützten Geräten kann Budget Flow nun Apple Intelligence nutzen, um Kategorie und Empfänger beim automatischen Erstellen von Transaktionen per Kurzbefehl zu ermitteln.</string>
			<key>IconName</key>
			<string>square.2.layers.3d.top.filled</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Unterstützung für iOS, iPadOS und macOS 27</string>
			<key>Description</key>
			<string>Designanpassungen und Kompatibilitätsupdates sorgen dafür, dass Budget Flow auch auf den neuesten Apple-Betriebssystemen iOS, iPadOS und macOS 27 reibungslos läuft.</string>
			<key>IconName</key>
			<string>macbook.and.iphone</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
