<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<dict>
		<key>Summary</key>
		<string>Dieses Update verbessert den Belegscanner, ergänzt weitere Symbole und optimiert die norwegische Übersetzung.</string>
		<key>Items</key>
		<array>
		<dict>
			<key>Title</key>
			<string>Erweiterter Belegscanner</string>
			<key>Description</key>
			<string>Der integrierte Belegscanner erkennt nun ebenfalls den Zahlungsempfänger anhand deiner bisherigen Eingaben.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Zusätzliche Symbole</string>
			<key>Description</key>
			<string>Es wurden weitere Symbole hinzugefügt, mit denen du die App ganz nach deinen Wünschen personalisieren kannst.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Verbesserte Übersetzung</string>
			<key>Description</key>
			<string>Die norwegische Übersetzung der App wurde optimiert, sodass sie nun noch besser zu verstehen ist.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
		</array>
	</dict>
</dict>
</plist>
