<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.1.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Notes suggérées</string>
			<key>Description</key>
			<string>Lors de la modification des notes d’une transaction, vous recevez désormais automatiquement une suggestion basée sur vos saisies précédentes, que vous pouvez appliquer directement en appuyant dessus.</string>
			<key>IconName</key>
			<string>character.cursor.ibeam</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Conversion de devises simplifiée</string>
			<key>Description</key>
			<string>Vous pouvez désormais échanger la devise source et la devise cible, ainsi que le taux de change correspondant, afin de calculer plus facilement les montants corrects.</string>
			<key>IconName</key>
			<string>arrow.up.arrow.down</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Analyse des reçus existants</string>
			<key>Description</key>
			<string>Grâce au scanner de reçus intégré, vous pouvez désormais également analyser les reçus déjà enregistrés depuis l’app Photos ou Fichiers et les utiliser pour créer des transactions.</string>
			<key>IconName</key>
			<string>custom.receipt.badge.arrow.up</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
