<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Mise à jour complète du design</string>
			<key>Description</key>
			<string>Sur iOS, iPadOS et macOS 26, l'application brille avec un design frais et révisé – incluant des effets Liquid-Glass et le support du mode sombre pour les icônes dans l'application.</string>
			<key>IconName</key>
			<string>sparkles</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Édition en masse des transactions</string>
			<key>Description</key>
			<string>Vous pouvez désormais sélectionner et modifier plusieurs transactions en même temps. Cela vous permet, par exemple, d'attribuer la même catégorie ou des balises spécifiques à toutes.</string>
			<key>IconName</key>
			<string>square.and.pencil</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Support des fuseaux horaires fixes</string>
			<key>Description</key>
			<string>Dans les paramètres avancés, vous pouvez désormais définir un fuseau horaire fixe. Cela garantit que vos données sont affichées de manière cohérente partout, peu importe où vous vous trouvez.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>