<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Umfangreiches Design-Update</string>
			<key>Description</key>
			<string>Unter iOS, iPadOS und macOS 26 erstrahlt die App in einem frischen, überarbeiteten Design – inklusive Liquid-Glass-Effekten und Dark-Mode-Unterstützung für In-App-Icons.</string>
			<key>IconName</key>
			<string>sparkles</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Transaktionen gleichzeitig bearbeiten</string>
			<key>Description</key>
			<string>Ab sofort kannst du mehrere Transaktionen gleichzeitig auswählen und bearbeiten. So kannst du beispielsweise allen dieselbe Kategorie oder bestimmte Tags zuweisen.</string>
			<key>IconName</key>
			<string>square.and.pencil</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Verbesserter Belegscanner</string>
			<key>Description</key>
			<string>Der integrierte Belegscanner erkennt nun automatisch Datumsangaben, kategorisiert Transaktionen und listet gekaufte Artikel mithilfe von Apple Intelligence unter iOS / iPadOS 26 auf.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
