<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.1.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Vorgeschlagene Notizen</string>
			<key>Description</key>
			<string>Während du die Notizen einer Transaktion bearbeitest, erhältst du nun automatisch einen Vorschlag basierend auf deinen bisherigen Eingaben, den du durch Antippen direkt übernehmen kannst.</string>
			<key>IconName</key>
			<string>character.cursor.ibeam</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Einfachere Wechselkursberechnung</string>
			<key>Description</key>
			<string>Bei der Umrechnung von Wechselkursen kannst du nun die Ursprungs- und Zielwährung sowie den zugehörigen Wechselkurs miteinander vertauschen, um die korrekten Werte einfacher zu berechnen.</string>
			<key>IconName</key>
			<string>arrow.up.arrow.down</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Vorhandene Belege auswerten</string>
			<key>Description</key>
			<string>Mithilfe des integrierten Belegscanners kannst du nun auch bereits vorhandene Belege aus Fotos / Dateien auswerten und für die Erstellung von Transaktionen nutzen.</string>
			<key>IconName</key>
			<string>custom.receipt.badge.arrow.up</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
