<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.1.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Notas sugeridas</string>
			<key>Description</key>
			<string>Al editar las notas de una transacción, ahora recibirás automáticamente una sugerencia basada en tus entradas anteriores, que puedes aplicar directamente tocándola.</string>
			<key>IconName</key>
			<string>character.cursor.ibeam</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Conversión de divisas simplificada</string>
			<key>Description</key>
			<string>Ahora puedes intercambiar la moneda de origen y la de destino, así como el tipo de cambio correspondiente, para calcular más fácilmente los valores correctos.</string>
			<key>IconName</key>
			<string>arrow.up.arrow.down</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Análisis de recibos existentes</string>
			<key>Description</key>
			<string>Con el escáner de recibos integrado, ahora también puedes analizar los recibos ya guardados desde la app Fotos o Archivos y utilizarlos para crear transacciones.</string>
			<key>IconName</key>
			<string>custom.receipt.badge.arrow.up</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
