<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<dict>
		<key>Summary</key>
		<string>يحسّن هذا الإصدار ماسح الإيصالات، ويضيف المزيد من الأيقونات، ويحسّن الترجمة النرويجية.</string>
		<key>Items</key>
		<array>
		<dict>
			<key>Title</key>
			<string>ماسح إيصالات محسّن</string>
			<key>Description</key>
			<string>أصبح ماسح الإيصالات المدمج يتعرّف الآن أيضًا على المستفيد بناءً على إدخالاتك السابقة.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>أيقونات إضافية</string>
			<key>Description</key>
			<string>تمت إضافة المزيد من الأيقونات لتتمكن من تخصيص التطبيق بالطريقة التي تفضلها.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>ترجمة محسّنة</string>
			<key>Description</key>
			<string>تم تحسين الترجمة النرويجية للتطبيق، فأصبحت الآن أسهل في الفهم.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
		</array>
	</dict>
</dict>
</plist>
