<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.3.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Ulepszone skróty</string>
			<key>Description</key>
			<string>Nowe i ulepszone skróty sprawiają, że automatyzowanie Budget Flow jest łatwiejsze niż kiedykolwiek, w tym automatyczne dodawanie transakcji z powiadomień aplikacji bankowych w iOS i iPadOS 27.</string>
			<key>IconName</key>
			<string>app.badge</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Automatyczna kategoryzacja</string>
			<key>Description</key>
			<string>Na obsługiwanych urządzeniach Budget Flow może teraz używać Apple Intelligence, aby określać kategorię i odbiorcę podczas automatycznego tworzenia transakcji za pomocą skrótów.</string>
			<key>IconName</key>
			<string>square.2.layers.3d.top.filled</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Obsługa iOS, iPadOS i macOS 27</string>
			<key>Description</key>
			<string>Udoskonalenia wyglądu i aktualizacje zgodności zapewniają płynne działanie Budget Flow w najnowszych systemach operacyjnych Apple.</string>
			<key>IconName</key>
			<string>macbook.and.iphone</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
