<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2.2.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>改進的餘額調整</string>
			<key>Description</key>
			<string>當你手動更改帳戶餘額時，現在會自動建立一筆交易，以確保你的歷史記錄準確無誤。</string>
			<key>IconName</key>
			<string>building.columns</string>
			<key>IconColor</key>
			<string>#00a38b</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>图标定制支持</string>
			<key>Description</key>
			<string>現在，你可以使用自己的圖片作為圖示——無論是銀行的標誌用於帳戶，還是個人照片用於分類。</string>
			<key>IconName</key>
			<string>photo.on.rectangle.angled</string>
			<key>IconColor</key>
			<string>#007aff</string>
		</dict>
	</array>
</dict>
</plist>
