<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>全面設計更新</string>
			<key>Description</key>
			<string>在 iOS、iPadOS 和 macOS 26 上，應用程式以全新、改良的設計煥發光彩——包括 Liquid-Glass 效果和應用內圖示的暗黑模式支援。</string>
			<key>IconName</key>
			<string>sparkles</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>批量編輯交易</string>
			<key>Description</key>
			<string>現在您可以同時選擇和編輯多個交易。例如，這允許您為所有交易分配相同的類別或特定標籤。</string>
			<key>IconName</key>
			<string>square.and.pencil</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>支援固定時區</string>
			<key>Description</key>
			<string>在進階設定中，您現在可以設定一個固定的時區。這確保您的資料在全球任何地方都以一致的方式顯示，無論您身處何地。</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
