<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Izboljšan optični bralnik računov</string>
			<key>Description</key>
			<string>Vgrajeni optični bralnik računov zdaj na podlagi tvojih prejšnjih vnosov prepozna tudi prejemnika plačila.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Dodatne ikone</string>
			<key>Description</key>
			<string>Dodali smo več ikon, s katerimi lahko aplikacijo prilagodiš povsem po svojih željah.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Izboljšan prevod</string>
			<key>Description</key>
			<string>Norveški prevod aplikacije je bil optimiziran, zato ga je zdaj še lažje razumeti.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
