<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.3.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Izboljšane bližnjice</string>
			<key>Description</key>
			<string>Nove in izboljšane bližnjice omogočajo lažjo avtomatizacijo Budget Flow kot kdaj koli prej, vključno s samodejnim dodajanjem transakcij iz obvestil bančnih aplikacij v iOS in iPadOS 27.</string>
			<key>IconName</key>
			<string>app.badge</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Samodejno kategoriziranje</string>
			<key>Description</key>
			<string>Na podprtih napravah lahko Budget Flow zdaj uporablja Apple Intelligence za določanje kategorije in prejemnika plačila pri samodejnem ustvarjanju transakcij z bližnjicami.</string>
			<key>IconName</key>
			<string>square.2.layers.3d.top.filled</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Podpora za iOS, iPadOS in macOS 27</string>
			<key>Description</key>
			<string>Oblikovne izboljšave in posodobitve združljivosti zagotavljajo nemoteno delovanje Budget Flow v najnovejših Applovih operacijskih sistemih.</string>
			<key>IconName</key>
			<string>macbook.and.iphone</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
