<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.3.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Dreceres millorades</string>
			<key>Description</key>
			<string>Les dreceres noves i millorades fan que sigui més fàcil que mai automatitzar Budget Flow, inclosa l’addició automàtica de transaccions des de notificacions d’apps bancàries a iOS i iPadOS 27.</string>
			<key>IconName</key>
			<string>app.badge</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Categorització automàtica</string>
			<key>Description</key>
			<string>En dispositius compatibles, Budget Flow ara pot utilitzar els Apple Intelligence per determinar la categoria i el beneficiari en crear transaccions automàticament amb dreceres.</string>
			<key>IconName</key>
			<string>square.2.layers.3d.top.filled</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Compatibilitat amb iOS, iPadOS i macOS 27</string>
			<key>Description</key>
			<string>Els refinaments de disseny i les actualitzacions de compatibilitat mantenen Budget Flow funcionant amb fluïdesa als sistemes operatius d’Apple més recents.</string>
			<key>IconName</key>
			<string>macbook.and.iphone</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
