<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Escàner de rebuts millorat</string>
			<key>Description</key>
			<string>L’escàner de rebuts integrat ara també reconeix el beneficiari a partir de les teves entrades anteriors.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Icones addicionals</string>
			<key>Description</key>
			<string>S’han afegit més icones perquè puguis personalitzar l’app exactament com vulguis.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Traducció millorada</string>
			<key>Description</key>
			<string>La traducció noruega de l’app s’ha optimitzat perquè ara sigui encara més fàcil d’entendre.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
