<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Kompleksowa aktualizacja designu</string>
			<key>Description</key>
			<string>W systemach iOS, iPadOS i macOS 26 aplikacja ma nowy, odświeżony wygląd – w tym efekty Liquid-Glass i obsługę trybu ciemnego dla ikon w aplikacji.</string>
			<key>IconName</key>
			<string>sparkles</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Masowa edycja transakcji</string>
			<key>Description</key>
			<string>Teraz możesz wybierać i edytować wiele transakcji jednocześnie. Dzięki temu możesz, na przykład, przypisać tę samą kategorię lub określone tagi do wszystkich z nich.</string>
			<key>IconName</key>
			<string>square.and.pencil</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Wsparcie dla stałych stref czasowych</string>
			<key>Description</key>
			<string>W zaawansowanych ustawieniach możesz teraz ustawić stałą strefę czasową. Dzięki temu Twoje dane są wyświetlane spójnie wszędzie, niezależnie od tego, gdzie się znajdujesz.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
