<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>增强的收据扫描器</string>
			<key>Description</key>
			<string>内置收据扫描器现在也会根据你之前的输入识别收款人。</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>更多图标</string>
			<key>Description</key>
			<string>新增了更多图标，让你可以按照自己的喜好个性化 App。</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>改进的翻译</string>
			<key>Description</key>
			<string>App 的挪威语翻译已优化，现在更容易理解。</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
