<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.1.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Suggested Notes</string>
			<key>Description</key>
			<string>While editing a transaction&apos;s notes, you will now automatically receive a suggestion based on your previous entries, which you can apply by simply tapping on it.</string>
			<key>IconName</key>
			<string>character.cursor.ibeam</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Easier Currency Conversion</string>
			<key>Description</key>
			<string>When performing a currency conversion, you can now swap the source and target currencies, as well as the exchange rate, to more easily calculate the correct values.</string>
			<key>IconName</key>
			<string>arrow.up.arrow.down</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Analyze Existing Receipts</string>
			<key>Description</key>
			<string>With the integrated receipt scanner, you can now also analyze existing receipts from your Photos or Files app and use them to create transactions.</string>
			<key>IconName</key>
			<string>custom.receipt.badge.arrow.up</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
