<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Pemindai struk yang ditingkatkan</string>
			<key>Description</key>
			<string>Pemindai struk bawaan kini juga mengenali penerima pembayaran berdasarkan entri Anda sebelumnya.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Ikon tambahan</string>
			<key>Description</key>
			<string>Lebih banyak ikon telah ditambahkan agar Anda dapat mempersonalisasi app sesuai keinginan.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Terjemahan yang ditingkatkan</string>
			<key>Description</key>
			<string>Terjemahan bahasa Norwegia untuk app telah dioptimalkan, sehingga kini lebih mudah dipahami.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
