<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Leitor de recibos aprimorado</string>
			<key>Description</key>
			<string>O leitor de recibos integrado agora também reconhece o beneficiário com base nos seus lançamentos anteriores.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Ícones adicionais</string>
			<key>Description</key>
			<string>Mais ícones foram adicionados para você personalizar o app exatamente como quiser.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Tradução aprimorada</string>
			<key>Description</key>
			<string>A tradução em norueguês do app foi otimizada, ficando ainda mais fácil de entender.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
