<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<dict>
		<key>Summary</key>
		<string>Cette version améliore la numérisation des reçus, ajoute davantage d’icônes et optimise la traduction norvégienne.</string>
		<key>Items</key>
		<array>
		<dict>
			<key>Title</key>
			<string>Scanner de reçus amélioré</string>
			<key>Description</key>
			<string>Le scanner de reçus intégré reconnaît désormais aussi le bénéficiaire à partir de vos saisies précédentes.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Icônes supplémentaires</string>
			<key>Description</key>
			<string>De nouvelles icônes ont été ajoutées afin que vous puissiez personnaliser l’app selon vos préférences.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Traduction améliorée</string>
			<key>Description</key>
			<string>La traduction norvégienne de l’app a été optimisée afin d’être encore plus facile à comprendre.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
		</array>
	</dict>
</dict>
</plist>
