<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>향상된 영수증 스캐너</string>
			<key>Description</key>
			<string>내장 영수증 스캐너가 이제 이전 입력을 바탕으로 수취인도 인식합니다.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>추가 아이콘</string>
			<key>Description</key>
			<string>앱을 원하는 대로 개인화할 수 있도록 더 많은 아이콘이 추가되었습니다.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>개선된 번역</string>
			<key>Description</key>
			<string>앱의 노르웨이어 번역이 최적화되어 이제 더 쉽게 이해할 수 있습니다.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
