<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.1.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>추천 메모</string>
			<key>Description</key>
			<string>거래 메모를 편집할 때, 이전 입력 내용을 기반으로 자동 추천이 표시되며, 추천 항목을 탭하여 바로 적용할 수 있습니다.</string>
			<key>IconName</key>
			<string>character.cursor.ibeam</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>간편한 환율 변환</string>
			<key>Description</key>
			<string>이제 원화와 대상 통화, 그리고 환율을 서로 바꿔가며 보다 쉽게 올바른 금액을 계산할 수 있습니다.</string>
			<key>IconName</key>
			<string>arrow.up.arrow.down</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>기존 영수증 분석</string>
			<key>Description</key>
			<string>내장된 영수증 스캐너를 통해 이제 사진 또는 파일 앱에 저장된 기존 영수증도 분석하여 거래 생성에 활용할 수 있습니다.</string>
			<key>IconName</key>
			<string>custom.receipt.badge.arrow.up</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
