<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<dict>
		<key>Summary</key>
		<string>Esta versión mejora el escaneo de recibos, añade más iconos y optimiza la traducción noruega.</string>
		<key>Items</key>
		<array>
		<dict>
			<key>Title</key>
			<string>Escáner de recibos mejorado</string>
			<key>Description</key>
			<string>El escáner de recibos integrado ahora también reconoce el beneficiario según tus entradas anteriores.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Iconos adicionales</string>
			<key>Description</key>
			<string>Se han añadido más iconos para que puedas personalizar la app exactamente como quieras.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Traducción mejorada</string>
			<key>Description</key>
			<string>La traducción noruega de la app se ha optimizado para que ahora sea aún más fácil de entender.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
		</array>
	</dict>
</dict>
</plist>
