<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.3.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Улучшенные команды</string>
			<key>Description</key>
			<string>Новые и улучшенные команды делают автоматизацию Budget Flow проще, чем когда-либо, включая автоматическое добавление транзакций из уведомлений банковских приложений в iOS и iPadOS 27.</string>
			<key>IconName</key>
			<string>app.badge</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Автоматическая категоризация</string>
			<key>Description</key>
			<string>На поддерживаемых устройствах Budget Flow теперь может использовать Apple Intelligence, чтобы определять категорию и получателя при автоматическом создании транзакций с помощью команд.</string>
			<key>IconName</key>
			<string>square.2.layers.3d.top.filled</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Поддержка iOS, iPadOS и macOS 27</string>
			<key>Description</key>
			<string>Доработки дизайна и обновления совместимости обеспечивают плавную работу Budget Flow в новейших операционных системах Apple.</string>
			<key>IconName</key>
			<string>macbook.and.iphone</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
