<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.2.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Улучшенный сканер чеков</string>
			<key>Description</key>
			<string>Встроенный сканер чеков теперь также распознаёт получателя платежа на основе ваших предыдущих записей.</string>
			<key>IconName</key>
			<string>receipt.viewfinder</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Дополнительные значки</string>
			<key>Description</key>
			<string>Добавлены новые значки, чтобы вы могли персонализировать приложение именно так, как вам нравится.</string>
			<key>IconName</key>
			<string>paintpalette</string>
			<key>IconColor</key>
			<string>#ff375f</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Улучшенный перевод</string>
			<key>Description</key>
			<string>Норвежский перевод приложения был оптимизирован, поэтому теперь он стал ещё понятнее.</string>
			<key>IconName</key>
			<string>globe</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
