<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.1.0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Запропоновані нотатки</string>
			<key>Description</key>
			<string>Під час редагування нотаток до транзакції тепер автоматично з’являється пропозиція на основі ваших попередніх записів, яку можна застосувати одним дотиком.</string>
			<key>IconName</key>
			<string>character.cursor.ibeam</string>
			<key>IconColor</key>
			<string>#ff8d28</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Спрощене конвертування валют</string>
			<key>Description</key>
			<string>Тепер ви можете міняти місцями вихідну та цільову валюту, а також відповідний обмінний курс, щоб легше розраховувати правильні значення.</string>
			<key>IconName</key>
			<string>arrow.up.arrow.down</string>
			<key>IconColor</key>
			<string>#35c759</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Аналіз наявних чеків</string>
			<key>Description</key>
			<string>Завдяки вбудованому сканеру чеків тепер можна аналізувати вже збережені чеки з додатків Фото або Файли та використовувати їх для створення транзакцій.</string>
			<key>IconName</key>
			<string>custom.receipt.badge.arrow.up</string>
			<key>IconColor</key>
			<string>#0088ff</string>
		</dict>
	</array>
</dict>
</plist>
